.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

.env
venv
**/kaggle.json
token.git.txt
__pycache__
insightface_models
occlusion_photos
.ipynb_checkpoints
webface_112x112
example.jpg
**/w600k_r50_from_onnx.pth
**/nohup.out
**/best_model_res50_occlusion.pth