.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

.env
venv
.venv
todo.md
notes.md

**/kaggle.json
token.git.txt

__pycache__
insightface_models
.ipynb_checkpoints

webface_112x112

*.pth
*.onnx
pytorch_models/
pytorch_models.zip